{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Symbol</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date</th>
                <th>Transaction</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["stock"] }}</td>
                    <td>{{ transaction['quantity'] }}</td>
                    <td>{{ transaction["price"] }}</td>
                    <td>{{ transaction["date"] }}</td>
                    <td>{{ transaction["boughtsold"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}