{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <fieldset>
            <div class="form-group">
                <select name="symbol" required>
                    <option disabled selected value>Symbol</option>
                    {% for stock in stocks %}
                        <option value="{{ stock['stock'] }}">{{ stock['stock'].upper() }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class=""form-group>
                <br><input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="No. of shares" type="number" min="1"><br>
            </div>
            <div class=""form-group>
                <button class="btn btn-primary" type="submit">Sell</button>
            </div>
        </fieldset>
    </form>
{% endblock %}